.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 15px;
}

.container * {
  opacity: 0.97;
}

.section {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
}

.holonDataSection {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
  justify-content: end;
  min-width: 350px;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-right: 25px;
}

.sideBarLine {
  width: 1px;
  height: 90%;
  background-color: black;
  opacity: 0.1;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  opacity: 0.8;
  margin-bottom: 15px;
  border-bottom: #6c5a5a31 1px solid;
  padding-bottom: 3px;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.noWrap {
  flex-wrap: nowrap !important;
}

.sectionContainer > div:not(:last-of-type) {
  margin-right: 15px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1250px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.taskoverview {
  flex-direction: column;
  margin-right: 25px !important;
}

.taskStatusSeparator {
  display: none;
}

.activityContainer {
  border-left: rgba(51, 51, 51, 0.164) 1px solid;
  padding-left: 20px;
  padding-right: 10px;
}

.messageContainer {
  display: flex;
  flex-direction: column-reverse;
  max-height: 800px;
  overflow-y: auto;
}

.messageContainer::-webkit-scrollbar {
  width: 10px;
}

.messageContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.messageContainer::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.messageContainer::-webkit-scrollbar-thumb:hover {
  background: black;
}

.activityContainer .sectionTitle {
  margin: 0px 0px 20px 0px;
}

.message {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.message p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0px 7px 10px;
  max-width: 480px;
  text-overflow: ellipsis;
}

.time {
  font-size: 0.78rem;
  color: white;
  margin-left: auto;
  margin-bottom: 2px;
  margin-right: 5px;
  background-color: green;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  width: 104px;
}

@media only screen and (min-width: 1200px) {
  .row:first-child .section {
    margin-right: 20px;
  }

  .statusSection {
    margin-right: 100px !important;
  }

  .activityContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .taskoverview {
    margin-left: 108px;
  }
}

@media only screen and (max-width: 1334px) {
  .taskoverview {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1599px) {
  .activityContainer {
    display: none;
  }
}

@media only screen and (min-width: 1777px) {
  .taskoverview {
    margin-left: 208px;
    margin-right: 60px !important;
  }
}

@media only screen and (min-width: 1600px) {
  .taskStatusSeparator {
    margin-left: 192px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .section:last-child {
    margin-left: 32px;
  }

  .taskStatusSeparator hr {
    background-color: rgba(0, 0, 0, 0.104);
    opacity: 0.3;
    height: 100%;
  }

  .holonSection {
    margin-right: 100px !important;
  }

  .dataAllocationsSeparator {
    margin-left: 52px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .dataAllocationsSeparator hr {
    background-color: rgba(0, 6, 120, 0.356);
    opacity: 0.3;
    height: 100%;
  }

  .usersSection {
    margin-left: 10px !important;
  }
}
